* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    max-height: 1000vh;
    background-image: url('/img/wpp_cadastro.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat;
    backdrop-filter: blur(3px) brightness(.4);
    padding-bottom: 30px;
}

.sidebar {
    max-width: fit-content;
    position: absolute;
    right: 20px;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.accordion-button:focus,
.accordion-button:not(:focus),
.accordion-button::after {
    box-shadow: none;
    outline: none;
    border-bottom: none;
}

.ff-oswald {
    font-family: "Oswald", sans-serif;
    letter-spacing: 1px;
}

.valor-comissao {
    color: rgb(9, 237, 21);
}

.link-vendas {
    color: white;
    position: absolute;
    left: 70px;
    top: 20px;
}


.link-edit {
    position: relative;
    left: 99%;
}
