* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html {
    width: 100%;
    height: 100%;
}

body {
    min-height: 100vh;
    max-height: 1000vh;
    background-image: url('/img/wpp_cadastro.png');
    background-size: cover;
    background-position: bottom;
    background-repeat: repeat;
    backdrop-filter: blur(3px) brightness(.4);
    padding-bottom: 30px;
}

.link-vendas {
    position: absolute;
    left: 50px;
    top: 40px;
}